In [117]:
import pandas as pd
from linearmodels import PooledOLS
import statsmodels.api as sm
import numpy as np
from statsmodels.compat import lzip
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [118]:
df =pd.read_pickle("Final_after_POI.pickle")

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1923923 entries, 0 to 1940933
Data columns (total 31 columns):
 #   Column                       Dtype
---  ------                       -----
 0   park_id                      object
 1   clc_code                     object
 2   area_code                    object
 3   evse_id                      object
 4   datetime_start               datetime64[ns]
 5   datetime_stop                datetime64[ns]
 6   Charging_Started             category
 7   Charging_Stop                category
 8   city                         object
 9   latitude                     float64
 10  longitude                    float64
 11  postal_code                  category
 12  Charging_Time_in_hours       float64
 13  year                         category
 14  month                        category
 15  day                          category
 16  day_of_week_name_Start       object
 17  Precipitation                float64
 18  Temperature                  float64
 19  pd                           float64
 20  Count_Charging               int64
 21  Charging_time_in_hours_log   float64
 22  cord                         object
 23  Nearest_Bahnhof_km           float64
 24  Nearest_Cafe_km              float64
 25  Nearest_Biergarten_km        float64
 26  Nearest_Community_Centre_km  float64
 27  Nearest_Hospital_km          float64
 28  Nearest_Kino_km              float64
 29  Nearest_Parking_km           float64
 30  Nearest_university_km        float64
dtypes: category(6), datetime64[ns](2), float64(15), int64(1), object(7)
memory usage: 394.5+ MB

In [120]:
df.drop(columns=['Charging_Started','Charging_Stop','cord'],axis = 1,inplace= True)

In [121]:
df = df.dropna()

In [122]:
df.isna().sum()

park_id                        0
clc_code                       0
area_code                      0
evse_id                        0
datetime_start                 0
datetime_stop                  0
city                           0
latitude                       0
longitude                      0
postal_code                    0
Charging_Time_in_hours         0
year                           0
month                          0
day                            0
day_of_week_name_Start         0
Precipitation                  0
Temperature                    0
pd                             0
Count_Charging                 0
Charging_time_in_hours_log     0
Nearest_Bahnhof_km             0
Nearest_Cafe_km                0
Nearest_Biergarten_km          0
Nearest_Community_Centre_km    0
Nearest_Hospital_km            0
Nearest_Kino_km                0
Nearest_Parking_km             0
Nearest_university_km          0
dtype: int64

In [123]:
df["day"]=df["day"].astype("int")
df["month"]=df["month"].astype("int")
df["year"]=df["year"].astype("int")

In [124]:
df["day"]=df["day"].astype("category")
df["month"]=df["month"].astype("category")
df["year"]=df["year"].astype("category")

In [125]:
#df.to_pickle("Final-v1.pickle")

In [126]:
#df.to_csv("Final-v1.csv")

In [127]:
df = df.rename(columns = {'datetime_start':'Date'})

In [145]:
df1 =df[["evse_id","Date","Charging_Time_in_hours"]]

In [146]:
df1  = df1.head(10)

In [147]:
print(df1.to_latex(index=False))

\begin{tabular}{llr}
\toprule
              evse\_id &                    Date &  Charging\_Time\_in\_hours \\
\midrule
hj\_DE*BLN*E*174060033 & 2019-12-17 09:00:13.369 &               23.999722 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 09:00:13.369 &                0.017222 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 09:00:13.369 &                0.971389 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 09:58:28.352 &               23.028889 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 09:58:28.352 &               23.046389 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 09:58:28.352 &                0.000556 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 17:56:11.770 &               15.066944 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 17:56:11.770 &               15.084444 \\
hj\_DE*BLN*E*174060033 & 2019-12-17 17:56:11.770 &               16.038333 \\
hj\_DE*BLN*E*174060033 & 2020-02-07 17:16:30.270 &                2.378889 \\
\bottomrule
\end{tabular}

In [86]:
df1 = df1.groupby("park_id").mean().reset_index()

In [87]:
df1 = df1.rename(columns = {'datetime_start':'Date'})

In [89]:
df1.head()

,park_id,Charging_Time_in_hours,Precipitation,Temperature
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,4.677586,0.000000,10.355747
1,hj_41097432-40f9-4f78-9d74-47590344ea53,9.239534,0.002929,8.193712
2,hj_5535a319-b3eb-46af-b9a9-6346358ae7f6,11.510553,0.000000,0.927390
3,hj_9727eb0c-71fb-406e-a615-9badb7a43409,4.367023,0.000000,16.198864
4,hj_9e45b058-75c1-45a1-bbdf-f7d9783fe2b7,12.268757,0.000000,7.473064

In [32]:
print(df1.to_latex(index=False))

\begin{tabular}{lrrr}
\toprule
               Date &  Charging\_Time\_in\_hours &  Precipitation &  Temperature \\
\midrule
2019-02-10 00:22:55 &                5.919722 &            0.0 &     0.900000 \\
2019-02-10 00:24:30 &                0.769444 &            0.0 &     2.133333 \\
2019-02-10 00:24:48 &               17.888333 &            0.0 &     0.900000 \\
2019-02-10 00:42:25 &                8.872500 &            0.0 &     0.900000 \\
2019-02-10 01:07:54 &               17.597639 &            0.0 &     0.700000 \\
2019-02-10 01:15:54 &               11.366667 &            0.0 &     0.700000 \\
2019-02-10 01:32:23 &               14.154861 &            0.0 &     1.366667 \\
2019-02-10 01:40:22 &                6.278333 &            0.0 &     0.700000 \\
2019-02-10 01:41:50 &               18.253889 &            0.0 &     0.700000 \\
2019-02-10 02:13:09 &                8.999861 &            0.0 &     0.100000 \\
\bottomrule
\end{tabular}