In [171]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import dask
import dask.dataframe as dd

from sklearn.model_selection import GridSearchCV, KFold,KFold, cross_val_score

from sklearn.preprocessing import PolynomialFeatures, StandardScaler,RobustScaler 

from sklearn.pipeline import make_pipeline

from sklearn.model_selection import train_test_split
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.linear_model import LogisticRegression,LinearRegression,Lasso

from sklearn.metrics import accuracy_score, f1_score,mean_squared_error,classification_report,confusion_matrix

from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import dask
import dask.dataframe as dd

import plotly.express as px
import plotly.graph_objects as go

from sklearn.model_selection import GridSearchCV, KFold,KFold, cross_val_score

from sklearn.preprocessing import PolynomialFeatures, StandardScaler,RobustScaler 

from sklearn.pipeline import make_pipeline

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.linear_model import LogisticRegression,LinearRegression,Lasso

from sklearn.metrics import accuracy_score, f1_score,mean_squared_error,classification_report,confusion_matrix

from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import make_column_transformer

from scipy import stats
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline

In [172]:
df = pd.read_pickle("data_after_normalization-v1.pickle")

In [173]:
df = df.drop(['Precipitation','Temperature','pd','Bahnhof','Restaurant'
              ,'Biergarten','Community_Centre','Hospital','Kino','Parking','university','Charging_time_in_hours_log_New'], axis = 1)

In [174]:
df = df.rename(columns = {'Temperature_New':'Temperature', 'Precipitation_New':'Precipitation',
                          'pd_New':'pd','Bahnhof_New':'Bahnhof','Restaurant_New':'Restaurant','Biergarten_New':'Biergarten',
                          'Community_Centre_New':'Community_Centre', 'Hospital_New':'Hospital',
                         'Kino_New':'Kino', 'Parking_New':'Parking','university_New':'university', 'Charging_Time_in_hours_New':'Charging_Time_in_hours',
                          })

In [175]:
df['Year'] = pd.to_datetime(df['datetime_start'], format='%Y')

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1796287 entries, 0 to 1940933
Data columns (total 30 columns):
 #   Column                      Dtype
---  ------                      -----
 0   park_id                     object
 1   clc_code                    object
 2   area_code                   object
 3   evse_id                     object
 4   datetime_start              datetime64[ns]
 5   datetime_stop               datetime64[ns]
 6   city                        object
 7   latitude                    float64
 8   longitude                   float64
 9   postal_code                 category
 10  Charging_Time_in_hours      float64
 11  year                        category
 12  month                       category
 13  day                         category
 14  day_of_week_name_Start      object
 15  Count_Charging              int64
 16  Charging_time_in_hours_log  float64
 17  Temperature                 float64
 18  Precipitation               float64
 19  pd                          float64
 20  Bahnhof                     float64
 21  Restaurant                  float64
 22  Biergarten                  float64
 23  Community_Centre            float64
 24  Hospital                    float64
 25  Kino                        float64
 26  Parking                     float64
 27  university                  float64
 28  Charging_Time_in_hours      float64
 29  Year                        datetime64[ns]
dtypes: category(4), datetime64[ns](3), float64(16), int64(1), object(6)
memory usage: 378.6+ MB

#  Charging time

In [177]:
df1 = df.groupby(['park_id']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [178]:
df1.head

<bound method NDFrame.head of park_id
sl_23895782                                2.491815
sl_23894954                                2.239343
sl_23895452                                2.237327
hj_5535a319-b3eb-46af-b9a9-6346358ae7f6    2.200532
sl_23894535                                2.173911
                                             ...
sl_23894931                               -2.232757
sl_23896428                               -2.305367
sl_23895556                               -2.494023
sl_23894668                               -2.846355
sl_23896393                               -2.929893
Name: Charging_time_in_hours_log, Length: 1197, dtype: float64>

In [179]:
df1.to_csv("Park_idandCT.csv")

In [180]:
df2 = df.groupby(['city']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [181]:
df2.head
df2.to_csv("cityandCT.csv")

In [182]:
df3 = df.groupby(['clc_code']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [183]:
df3.head()
df3.to_csv("clcandCT.csv")

In [184]:
df4 = df.groupby(['year']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [185]:
df4
df4.to_csv("yearandCT.csv")

In [186]:
df5 = df.groupby(['month']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [187]:
df5
df5.to_csv("monthandCT.csv")

In [188]:
df6 = df.groupby(['day']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [189]:
df6
df6.to_csv("dayandCT.csv")

In [190]:
df6 = df.groupby(['day_of_week_name_Start']).mean().sort_values(['Charging_time_in_hours_log'],ascending=False)['Charging_time_in_hours_log']

In [191]:
df6
df6.to_csv("weekandCT.csv")

# Count

In [192]:
df_1 = df.groupby(['park_id']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [193]:
df_1.head()
df_1.to_csv("PARKandCC.csv")

In [194]:
df_2 = df.groupby(['city']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [195]:
df_2.head()
df_2.to_csv("CITYandCC.csv")

In [196]:
df_3 = df.groupby(['clc_code']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [197]:
df_3.head()
df_3.to_csv("CLCandCC.csv")

In [198]:
df_4 = df.groupby(['year']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [199]:
df_4.head()
df_4.to_csv("YEARandCC.csv")

In [200]:
df_5 = df.groupby(['month']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [201]:
df_5
df_5.to_csv("MONTHandCC.csv")

In [202]:
df_6 = df.groupby(['day']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [203]:
df_6.head()
df_6.to_csv("DAYandCC.csv")

In [204]:
df_7 = df.groupby(['day_of_week_name_Start']).count().sort_values(['Count_Charging'],ascending=False)['Count_Charging']

In [205]:
df_7.head()
df_7.to_csv("WEEkandCC.csv")

In [84]:
df =df.groupby("Year").mean().reset_index()

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761829 entries, 0 to 761828
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Year                        761829 non-null  datetime64[ns]
 1   latitude                    761829 non-null  float64
 2   longitude                   761829 non-null  float64
 3   Count_Charging              761829 non-null  float64
 4   Charging_time_in_hours_log  761826 non-null  float64
 5   Temperature                 761829 non-null  float64
 6   Precipitation               761829 non-null  float64
 7   pd                          761829 non-null  float64
 8   Bahnhof                     761829 non-null  float64
 9   Restaurant                  761829 non-null  float64
 10  Biergarten                  761829 non-null  float64
 11  Community_Centre            761829 non-null  float64
 12  Hospital                    761829 non-null  float64
 13  Kino                        761829 non-null  float64
 14  Parking                     761829 non-null  float64
 15  university                  761829 non-null  float64
 16  Charging_Time_in_hours      761829 non-null  float64
dtypes: datetime64[ns](1), float64(16)
memory usage: 98.8 MB

In [70]:
data = df.copy()

In [71]:
year = pd.Categorical(data.park_id)
data = data.set_index(["park_id"])

In [72]:
data["parkid"] = year

In [73]:
import statsmodels.api as sm
from linearmodels.panel import PooledOLS

In [74]:
exog_vars = ["Restaurant", "Biergarten", "Community_Centre", "Hospital", "Kino", "Parking","university"]
exog = sm.add_constant(data[exog_vars])

/home/col-gku/.local/lib/python3.8/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)