In [4]:
import pandas as pd
import numpy as np

In [5]:
df =pd.read_pickle("End_Data.pickle")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940934 entries, 0 to 1940933
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   park_id                 object
 1   clc_code                object
 2   area_code               object
 3   evse_id                 object
 4   datetime_start          datetime64[ns]
 5   datetime_stop           datetime64[ns]
 6   Charging_Started        category
 7   Charging_Stop           category
 8   city                    object
 9   latitude                float64
 10  longitude               float64
 11  postal_code             category
 12  Charging_Time_in_hours  float64
 13  year                    category
 14  month                   category
 15  day                     category
 16  day_of_week_name_Start  object
 17  Precipitation           float64
 18  Temperature             float64
 19  pd                      float64
 20  Count_Charging          int64
dtypes: category(6), datetime64[ns](2), float64(6), int64(1), object(6)
memory usage: 249.9+ MB

In [7]:
df

,park_id,clc_code,area_code,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,latitude,...,postal_code,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature,pd,Count_Charging
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,16766.0,23.999722,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
1,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,16766.0,0.017222,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
2,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:58:30.703,1.0,0.0,Kremmen,52.7596,...,16766.0,0.971389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
3,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,16766.0,23.028889,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
4,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,16766.0,23.046389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940929,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:02:00.000,1.0,0.0,Niestetal,51.3144,...,34266.0,20.967778,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940930,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:28:29.000,1.0,0.0,Niestetal,51.3144,...,34266.0,21.409167,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940931,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 19:55:30.000,1.0,0.0,Niestetal,51.3144,...,34266.0,0.859444,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940932,sl_23897386,Urban,051120000000,sl_23901984,2021-08-10 15:29:47.000,2021-08-10 16:57:44.000,1.0,0.0,Niestetal,51.3144,...,34266.0,1.465833,2021.0,8.0,10.0,Tuesday,0.0,8.033333,2142.121993,331
1940933,sl_23897386,Urban,051120000000,sl_23901984,2021-08-11 11:21:37.000,2021-08-11 20:13:12.000,1.0,0.0,Niestetal,51.3144,...,34266.0,8.859722,2021.0,8.0,11.0,Wednesday,0.0,8.033333,2142.121993,331

In [5]:
df['Charging_time_in_hours_log'] = np.log(df['Charging_Time_in_hours'])

/home/col-gku/.local/lib/python3.8/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [6]:
df = (df
[df["Precipitation"]>=0] 
[df["Precipitation"]<=10]
)

<ipython-input-6-df95644cdc3d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = (df

In [7]:
df = (df
[df["Temperature"]>=-20]
[df["Temperature"]<=35]
)

<ipython-input-7-315f4e7f722a>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = (df

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1923923 entries, 0 to 1940933
Data columns (total 22 columns):
 #   Column                      Dtype
---  ------                      -----
 0   park_id                     object
 1   clc_code                    object
 2   area_code                   object
 3   evse_id                     object
 4   datetime_start              datetime64[ns]
 5   datetime_stop               datetime64[ns]
 6   Charging_Started            category
 7   Charging_Stop               category
 8   city                        object
 9   latitude                    float64
 10  longitude                   float64
 11  postal_code                 category
 12  Charging_Time_in_hours      float64
 13  year                        category
 14  month                       category
 15  day                         category
 16  day_of_week_name_Start      object
 17  Precipitation               float64
 18  Temperature                 float64
 19  pd                          float64
 20  Count_Charging              int64
 21  Charging_time_in_hours_log  float64
dtypes: category(6), datetime64[ns](2), float64(7), int64(1), object(6)
memory usage: 262.4+ MB

In [9]:
df

,park_id,clc_code,area_code,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,latitude,...,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature,pd,Count_Charging,Charging_time_in_hours_log
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,23.999722,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58,3.178042
1,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,0.017222,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58,-4.061555
2,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:58:30.703,1.0,0.0,Kremmen,52.7596,...,0.971389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58,-0.029028
3,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,23.028889,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58,3.136749
4,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,23.046389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58,3.137509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940929,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:02:00.000,1.0,0.0,Niestetal,51.3144,...,20.967778,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331,3.042987
1940930,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:28:29.000,1.0,0.0,Niestetal,51.3144,...,21.409167,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331,3.063819
1940931,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 19:55:30.000,1.0,0.0,Niestetal,51.3144,...,0.859444,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331,-0.151469
1940932,sl_23897386,Urban,051120000000,sl_23901984,2021-08-10 15:29:47.000,2021-08-10 16:57:44.000,1.0,0.0,Niestetal,51.3144,...,1.465833,2021.0,8.0,10.0,Tuesday,0.0,8.033333,2142.121993,331,0.382424
1940933,sl_23897386,Urban,051120000000,sl_23901984,2021-08-11 11:21:37.000,2021-08-11 20:13:12.000,1.0,0.0,Niestetal,51.3144,...,8.859722,2021.0,8.0,11.0,Wednesday,0.0,8.033333,2142.121993,331,2.181515

In [10]:
df.to_pickle("Endresult_v1.pickle")

In [11]:
df.to_csv("Endresult_v1.csv")